<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Project</title>
    <script src="static/js/startup.js" defer></script>

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/heading.css">
    <link rel="stylesheet" href="static/css/island.css">
    <link rel="stylesheet" href="static/css/typo.css">
    <link rel="stylesheet" href="static/css/button.css">
    <link rel="stylesheet" href="static/css/character.css">
</head>
<body>
    <div id="app"></div>

    <!--Scripts-->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/cc_category.js"></script>
    <script src="/static/js/character_customization.js"></script>
    <script src="/static/js/gender.js"></script>
</body>
</html>
